:root{
  --sidebar-bg: #19388f;
  --sidebar-bg2: #144be1;
  --sidebar-text: #00e7b5;
  --button-blue: #3281ff;
  --button-red: #ff4d4d;
  --content-bg: #eef6ff;
  --content-bg2: #d9eaff;
  --main-bg: #c0dce1;
  --completed: #72ff9e;
  --high-priority: #ff9e9e;
  --low-prority: #fcff9e;
  --med-priority: #ffd09e;
}


/* main */
#main {
  background-color: var(--main-bg);
  display: grid;
  grid-template-columns: 1fr 6fr;
  padding: 5px;
  height: 100svh;
  gap: 8px;
}

/* sidebar */
#sidebar {
  background: linear-gradient(135deg, var(--sidebar-bg) 0%, var(--sidebar-bg2) 100%);
  color: var(--sidebar-text);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  border-radius: .75rem;
  overflow: hidden;
  min-width: max-content;
  box-shadow: 0 5px 10px 0px black;
}

.sidebar-title {
  min-width: max-content;
  font-family: 'Pacifico', cursive;
}

.sidebar-projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar-projects #heading{
  text-align: center;
}

#sidebar .project-title {
  list-style: circle;
  font-size: 1rem;
  cursor: pointer;
}

#sidebar .project-title.active {
  /* bold */
  font-weight: 600;
  text-decoration: underline;
}


#add-project {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
}

/* main content */
#content {
  padding: 2rem;
  background: linear-gradient(135deg, var(--content-bg) 0%, var(--content-bg2) 100%);
  border-radius: .75rem;
  overflow: hidden;
  box-shadow: 0 5px 10px 0px black;
}

.content-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenlyw;
  gap: 3rem;
  padding: 2rem;
  text-align: center;
}

.content-area {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}


.task-card {
  background-color: var(--content-bg2);
  border: 1px solid var(--content-bg);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  border-radius: .75rem;
}

.task-info-display {
  width: 100%;
  display: flex;
  gap: .5rem;
  justify-content: space-between;
}

.task-info-editable {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.task-info-editable form{
  width: 100%;
  display: flex;
  gap: .5rem;
  justify-content: space-between;
}

.task-info-editable .form-input {
  display: flex;
  gap: .5rem;
}

.task-info-editable .button-area {
  width: 25%;
  display: flex;
  gap: .5rem;
  justify-content: space-around;
}

.task-info-editable button {
  /* width: 10%; */
  border: none;
  border-radius: .5rem;
  padding: .5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  
  color: white;
}

.task-info-editable .submit {
  background-color: var(--button-blue);
}

.task-info-editable .cancel {
  background-color: var(--button-red);
}

input {
  border: none;
  border-bottom: 1px solid var(--content-bg);
  font-size: 1rem;
  padding: .5rem;
  border-radius: .5rem;
}

select {
  border: none;
  border-bottom: 1px solid var(--content-bg);
  font-size: 1rem;
  padding: .5rem;
  border-radius: .5rem;
}

.task-card .title {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-card .other-contents{
  font-size: .75rem;
}

.task-card.high-prio {
  background-color: var(--high-priority);
}

.task-card.low-prio {
  background-color: var(--low-prority);
}

.task-card.med-prio {
  background-color: var(--med-priority);
}

.task-card.completed {
  background-color: var(--completed);
}

/* forms */
.hidden {
  display: none;
}

/* add button */

/* add task button */
#add-task-card {
  background-color: var(--low-prority);
  /* color: var(--content-bg); */
  border: 1px solid var(--low-prority);
  cursor: pointer;
}

#add-task-card .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}